body {
    background: linear-gradient(-45deg, #ee7752, #e8719f, #53b2d4, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


body {
    font-family: 'Karla', sans-serif;
}


table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
}

th,
td {
    border: 1px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    word-wrap: break-word;
}

