{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>All Applications</h1>
            {% if tasks.exists %}
                <table>
                    <thead>
                        <tr>
                            <th>Date Applied</th>
                            <th>Company Name</th>
                            <th>Title</th>
                            <th>Salary</th>
                            <th>Company Website</th>
                            <th>Location</th>
                            <th>Remote/In-Person/Hybrid</th>
                            <th>Contact Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.project.current_date}}</td>
                                <td>{{ task.company_name }}</td>
                                <td>{{ task.title }}</td>
                                <td>{{ task.salary }}</td>
                                <td>
                                    {% if task.company_website%}
                                        <a href="{{ task.company_website }}" target="_blank">{{ task.company_website }}</a></td>
                                    {% else %}
                                    {{ task.company_website }}
                                    {% endif %}
                                </td>
                                <td>{{ task.location }}</td>
                                <td>{{ task.remote_in_person_hybrid }}</td>
                                <td>{{ task.contact_info }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
