{% extends "base.html" %}

{% block content %}
<body>
    <main>
        <div>
            <h1>Update Application</h1>
            <form method = "post">
                {% csrf_token %}
                {{ form.as_p }}
                <td>stuff</td>
                <button>Update</button>
            </form>
        </div>
    </main>
</body>
</html>
{% endblock content %}
