{% extends "base.html" %}

{% block content %}
    <main>
        <div class = "divcenter">
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>
                <a>All Applications For Date</a>
            </h2>
            <p>
                <a href = "{% url 'create_task' project_id=project.id %}">Create New Application</a>
            </p>

            {% if project.tasks.exists %}
                <table class = "center">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Title</th>
                            <th>Salary</th>
                            <th>Company Website</th>
                            <th>Location</th>
                            <th>Remote/In-Person/Hybrid</th>
                            <th>Contact Info</th>
                            <th>Edit Application</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{ task.company_name }}</td>
                                <td>{{ task.title }}</td>
                                <td>{{ task.salary }}</td>
                                <td>
                                    {% if task.company_website%}
                                        <a href="{{ task.company_website }}" target="_blank">{{ task.company_website }}</a></td>
                                    {% else %}
                                    {{ task.company_website }}
                                    {% endif %}
                                </td>
                                <td>{{ task.location }}</td>
                                <td>{{ task.remote_in_person_hybrid }}</td>
                                <td>{{ task.contact_info }}</td>
                                <td><a href="{% url 'edit_application' id=task.id %}">Update Details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
