{% extends "base.html" %}
{% load static %}

{% load static %}

{% block content %}
    <main>
        <div>
            <h1>Daily Job Applications</h1>
            <p class = "center">
                <a href = {% url "create_project" %}>Add New Date</a>
            </p>
            {% if not projects %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table class = "center">
                    <tr>
                        <th>Date Applied</th>
                        <th>Number of Applications Sent</th>
                        <th>Goal Applications for the Day</th>
                        <th>Total of Daily Goal</th>
                        {% comment %} <th>Precentage of Daily Goal</th> {% endcomment %}
                    </tr>
                    {% for project in projects %}
                        <tr>
                            <td><a href ="{% url "show_project" id=project.id %}">{{ project.current_date }}</a></td>
                            <td>{{ project.tasks.all|length }}</td>
                            <td>{{ project.goal_applications }}</td>
                            <td>{{ project.tasks.all|length }} / 10 </td>
                            {% comment %} <td>{{ goal_percentage }}%</td> {% endcomment %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
